.developer-card {
  margin-bottom: 1rem;

  ion-thumbnail img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  ion-label h2 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  ion-label p {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }

  ul {
    margin: 0.5rem 0 0 0;
    padding-left: 1.2rem;

    li {
      font-size: 0.85rem;
      color: var(--ion-color-dark-tint);
    }
  }
}
