:host {
  display: flex; 
  flex-direction: column;
  height: 100%; 
  width: 100%;
}

ion-content {
  flex-grow: 1; 
}


.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.alignCenter {
   display: flex;
}

.alignSpinner {
  display: flex;
}


ion-card {
  margin: 10px; 
  padding: 0;
  box-shadow: none; 

  ion-row {
    display: flex; 
    
    ion-col.offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-basis: 15%; 
      min-width: 60px; 
      
      &.amtSaved {
        background-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));
      }
      &.amtInsufficient {
        background: var(--ion-color-medium);
      }
      
      ion-label {
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        writing-mode: vertical-rl;
        transform: rotate(180deg); 
        padding: 5px 0;
      }
      
      .circle1, .circle2, .circle3, .circle4 {
        display: block; 
        background: var(--ion-background-color, #fff); 
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: -4px; 
        left: unset; 
      }

      .circle1 { top: 10%; }
      .circle2 { top: 35%; }
      .circle3 { top: 60%; }
      .circle4 { top: 85%; }
    }
    
    ion-col {
      padding: 0; 
      flex-grow: 1;

      ion-item {
        --inner-border-width: 0; 
        border-bottom: 1px dashed var(--ion-color-medium);
        
        ion-label {
          font-weight: bold;
          font-size: 1rem;
          p {
            margin-top: 5px;
            ion-text {
              font-size: 0.8rem;
            }
          }
        }
      }
      
      ion-row {
        margin: 0;
        padding: 0 16px 8px 16px; 
        
        ion-col {
          padding: 0;
          display: flex;
          align-items: center;

          div {
            font-size: 0.8rem;
            font-weight: bold;
            color: var(--ion-color-medium-shade); 
          }
          
          ion-button {
            --color: var(--ion-color-dark-shade, dimgray);
            --padding-end: 0;
            --padding-start: 0;
            margin-inline-start: auto; 
          }
        }
      }
    }
  }
}
